/* @override 
  http://planetoftheweb.com/_/css/styles.css */

@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

body  {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 160%;
	*zoom: 1;
	background-color: #f5f5f5;
	 min-height: 2000px;
	  padding-top: 70px;

}

h1, h2, h3, h4, h5, h6 {
	font-family: Merriweather, serif;
	font-weight: normal;
	color: #222222;
}

h2 {
	margin: 0 0 30px 0;
	line-height: 1.2em;
	color: #0c374d;
}

h2.title {
	font-size: 2.5rem;
}

p {
	font-size: 1.5rem;
	color: #666;
}

.page-wrap {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 50px;
}

.news-container {
	/* border-bottom: 1px solid #CDCDCD; */
    padding-bottom: 40PX;
    padding: 40px 20px;
    margin-bottom: 15px;
    background-color: #fff;
    /* box-shadow: 0 1px 4px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24); */
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
/*    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    border-radius: 4px;
}

.news-container .img-placeholder {

}

.news-container .img-placeholder img {
	width: 100%;
}

.content-news {
	margin-top: 40px;
}

.content-news ul {
	list-style-type: none;
	padding: 0; margin: 0;
}

.content-news ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	line-height: 1.2em;
	margin-bottom: 20px;
	position: relative;
	padding-left: 20px;
	color: #373d3f;
}
.content-news ul li:before {
	font-family: FontAwesome;
    content: "\f0da";
	position: absolute;
	left: 0;
	    color: #bbbbbb;
}

.news-header {
	
}

.article-details {
	font-size: 1.5rem;
}

.article-auth {
	margin-bottom: 10px;
	
}
.article-pub {
	font-size: 1.2rem;
	color: #777777;
}

.article-source {
	text-transform: uppercase;
	display: inline-block;
	color: #14AADD;
	text-decoration: none;
	border: solid 1px #fff;
	border-radius: 4px;
	padding: 5px 10px;
}

.article-source:hover {
	border-color: #14AADD;
	text-decoration: none;
}

.article-source i {
	margin-left: 10px;
}

.article-auth i, .article-pub i, .article-source i {
	color: #999;
	margin-right: 10px;
	font-size: 1.5rem;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-brand>img {
    display: block;
    height: 55px;
}

.navbar-brand {
	float: none;
	text-align: center;
    height: 50px;
    padding: 0;
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
}




















